.theme-5 .sidebar-nav ul>li>a>.nav-icon>em, .sidebar-nav ul>li>a>.nav-icon>img, .sidebar-nav ul>li>a>.nav-icon>svg {
    color: #03A9F4;
}

.theme-5 .nav-tabs.nav-justified>li>a, .nav-tabs>li>a {
    border: 0;
    border-bottom: 2px solid transparent;
}

div.tooltip-inner {
    max-width: 350px;
}

.indicators-page .table>tbody>tr>td {
    height: auto!important;
    padding: 3px 18px;
}
.table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  .table-responsive > .table {
    margin-bottom: 0;
  }
  .table-responsive > .table > thead > tr > th,
  .table-responsive > .table > tbody > tr > th,
  .table-responsive > .table > tfoot > tr > th,
  .table-responsive > .table > thead > tr > td,
  .table-responsive > .table > tbody > tr > td,
  .table-responsive > .table > tfoot > tr > td {
    white-space: nowrap;
  }
